<h2>Destination Show</h2>

<img src="<%= destination.image %>" alt="<%= destination.city %>-pic">
<h3><%= destination.city %>, <%= destination.stateOrCountry %></h3>
<h4>Population: <%= destination.population %></h4>

<hr>

<h3>Weather</h3>

<h4>Current</h4>
    <ul>
        <li>Temperature: <%= results.current.temperature %>F</li>
        <li>Visibility: <%= results.current.skytext %></li>
        <li>Feels Like: <%= results.current.feelslike %>F</li>
        <li>Wind: <%= results.current.winddisplay %></li>
    </ul>

<hr>

<h3>Reviews</h3>

<% if (reviews[0] !== undefined) { %>
    <% reviews.forEach(function(review) { %>
        <div class="card">
            <div class="row">
                <h5 class="left"><%= review.user.firstName %> <%= review.user.lastName %></h5>
                <h4 class="right"><%= review.rating %></h4>
                <p><%= review.content %></p>
            </div>
        </div>
    <% }) %>
<% } else { %>
    <h3>No Reviews</h3>
<% } %>