<h2><%= destination.city %>, <%= destination.stateOrCountry %></h2>
<img src="<%= destination.image %>" alt="<%= destination.city %>-pic">
<h4>Population: <%= destination.population %></h4>

<hr>

<h3>Weather</h3>

<h4>Current</h4>
    <ul>
        <li>Temperature: <%= results.current.temperature %> F</li>
        <li>Visibility: <%= results.current.skytext %></li>
        <li>Feels Like: <%= results.current.feelslike %> F</li>
        <li>Wind: <%= results.current.winddisplay %></li>
    </ul>

<h4>3-Day Forecast</h4>

<div class="row">
    <% for (let i = 0; i < 3; i++) { %>
        <div class="col-4">
            <div class="card">
                <h5><%= results.forecast[i].day %></h5>
                    <ul>
                        <li>Low: <%= results.forecast[i].low %> F</li>
                        <li>High: <%= results.forecast[1].high %> F</li>
                        <li>Visibility: <%= results.forecast[1].skytextday %></li>
                    </ul>
            </div>
        </div>    
    <% } %>
</div>

<hr>

<h3>Reviews</h3>

<% if (currentUser) { %>
    <%- include("../reviews/new") %>
<% } %>

<hr>

<% if (reviews[0] !== undefined) { %>
    <div class="row">
        <% reviews.forEach(function(review) { %>
            <div class="col-6">
                <div class="card">
                    <% if (currentUser && currentUser.id == review.user.id) { %>
                        <a href="/destinations/<%= destination.id %>/<%= review.id %>/edit">Edit</a>
                        <form action="/destinations/<%= destination.id %>/<%= review.id %>/?_method=DELETE" method="POST">
                            <input type="submit" value="Delete">
                        </form>
                    <% } %>
                    <div class="row justify-content-around">
                        <h5 class="col"><%= review.user.firstName %> <%= review.user.lastName %></h5>
                        <h4 class="col"><%= review.rating %></h4>
                    </div>
                    <p><%= review.content %></p>
                </div>
            </div>
        <% }) %>
    </div>
<% } else { %>
    <h3>No Reviews</h3>
<% } %>

<hr>

<% if (currentUser && currentUser.id === 1) { %>
    <form action="/destinations/<%= destination.id %>/?_method=DELETE" method="POST">
        <input type="submit" value="Delete">
    </form>
<% } %>