<div class="row">
    <img class="col-3" src="<%= destination.image %>" alt="<%= destination.city %>-pic">
    <h2 class="col-3"><%= destination.city %>, <%= destination.stateOrCountry %></h2>
    <h4 class="col-3">Population: <%= destination.population %></h4>
    <% if (currentUser) { %>
        <form action="/destinations/<%= destination.id %>/fave" method="POST">
            <input type="submit" class="btn btn-primary col-3" value="Add to Favorites">
        </form>
    <% } %>
</div>

<hr>

<h3>Weather</h3>

<h4>Current</h4>
    <ul>
        <li>Temperature: <%= results.current.temperature %> F</li>
        <li>Visibility: <%= results.current.skytext %></li>
        <li>Feels Like: <%= results.current.feelslike %> F</li>
        <li>Wind: <%= results.current.winddisplay %></li>
    </ul>

<h4>3-Day Forecast</h4>

<div class="row">
    <% for (let i = 0; i < 3; i++) { %>
        <div class="col-4">
            <div class="card">
                <h5><%= results.forecast[i].day %></h5>
                    <ul>
                        <li>Low: <%= results.forecast[i].low %> F</li>
                        <li>High: <%= results.forecast[1].high %> F</li>
                        <li>Visibility: <%= results.forecast[1].skytextday %></li>
                    </ul>
            </div>
        </div>    
    <% } %>
</div>

<hr>

<h3>Reviews</h3>

<% if (currentUser) { %>
    <%- include("../reviews/new") %>
<% } %>

<hr>

<% if (reviews[0] !== undefined) { %>
    <div class="row">
        <% reviews.forEach(function(review) { %>
            <div class="col-6">
                <div class="card">
                    <div class="row justify-content-around">
                        <h5 class="col"><%= review.user.firstName %> <%= review.user.lastName %></h5>
                        <h4 class="col"><%= review.rating %></h4>
                    </div>
                    <p><%= review.content %></p>
                    <% if (currentUser && currentUser.id == review.user.id) { %>
                        <div class="row">
                            <div class="col-6">

                                <!-- Edit Modal -->
                                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#editReview-<%= review.id %>">Edit</button>

                                <div class="modal fade" id="editReview-<%= review.id %>" tabindex="-1" aria-labelledby="editReviewLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="editReviewLabel">Edit Review</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <form action="/destinations/<%= destination.id %>/<%= review.id %>/?_method=PUT" method="POST">
                                                    <label class="form-label" for="destination">Destination:</label>
                                                    <input type="text" readonly class="form-control" id="destinationId" value="<%= destination.city %>, <%= destination.stateOrCountry %>">
                                                
                                                    <label class="form-label" for="user">By:</label>
                                                    <input type="text" readonly class="form-control" id="userId" value="<%= review.user.firstName %> <%= review.user.lastName %>">
                                                
                                                    <label class="form-label" for="content">Review:</label>
                                                    <input class="form-control" id="content" type="text" name="content" value="<%= review.content %>">
                                                
                                                    <label class="form-label" for="rating">Rating:</label>
                                                    <input class="form-control" id="rating" type="number" name="rating" min="1" max="5" value="<%= review.rating %>">
                                                
                                                    <input class="form-control" type="submit" value="Save Review">
                                                </form>
                                            </div>
                                            <div class="modal-footer">
                                                <a href="#" data-bs-dismiss="modal"></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="col-6">
                                
                                <!-- Delete Modal -->
                                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#deleteReview-<%= review.id %>">Delete</button>
                                
                                <div class="modal fade" id="deleteReview-<%= review.id %>" tabindex="-1" aria-labelledby="deleteReviewLabel">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="deleteReviewLabel">Delete Review</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <p>Are you sure?</p>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                                                <form action="/destinations/<%= destination.id %>/<%= review.id %>/?_method=DELETE" method="POST">
                                                    <input class="btn btn-primary" type="submit" value="Delete">
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <% } %>
                </div>
            </div>
        <% }) %>
    </div>
<% } else { %>
    <h4>No Reviews</h4>
<% } %>

<hr>

<% if (currentUser && currentUser.id === 1) { %>
    <%- include("../partials/deleteDest") %>
<% } %>