<h2>Edit Review Form</h2>

<form action="/destinations/<%= review.destination.id %>/<%= review.id %>/?_method=PUT" method="POST">
    <label for="destination"><%= review.destination.city %>, <%= review.destination.stateOrCountry %></label>

    <label for="user">By: <%= review.user.firstName %> <%= review.user.lastName %></label>

    <label for="content">Review:</label>
    <input id="content" type="text" name="content" value="<%= review.content %>">

    <label for="rating">Rating:</label>
    <input id="rating" type="number" name="rating" min="1" max="5" value="<%= review.rating %>">

    <input type="submit" value="Save Review">
</form>